
@{
    ViewBag.Title = "Details";
}

<body>

   
    <form method="get">
        <input name="field1" type="hidden" id="hiddenid2" value="0" />
    </form>
    <input id="hdnId" type="hidden" value="0" />
    <div id="ListDetails">
        <h2>Book Details</h2>
    </div>



    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">



$(document).ready(function () {
        book_details();
    })

    function book_details() {
        var id = window.location.hash.substring(1);
        var postObj = {
            filters: {
                id:id,
            }
        };
        var htm = "";
        //$("#tblSales tbody").html("");
        $.ajax({
            type: "POST",
            url: "@Url.Action("Details", "Home")",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(postObj),
            dataType: "json",
            crossDomain: true,
            timeout: 40000,
            success: function (msg) {
                var obj = JSON.parse(msg);
                console.log(msg);
                $.each(obj, function (i, row) {

                    htm += "<ul class='list-group'>";


                    htm +=  "<li class='list-group-item'>" ;
                    htm += " <b>Book Name </b>:  " + row.BookName;
                    htm += "</li>";

                    htm += "<li class='list-group-item'>";
                    htm += " <b>Author </b> :  " +row.Author;
                    htm += "</li>";

                    htm += "<li class='list-group-item'>";
                    htm += "<b>Publication </b>:  " + row.Publisher;
                    htm += "</li>";

                    htm += " <li class='list-group-item'>";
                    htm += "<b>Price </b>:  "+ row.Price;
                    htm += "</li>";

                    htm += "</ul>";
                });

                $('#ListDetails').append(htm);

            },
            error: function (xhr, status) {
                alert("wrong....")
            }
        });
    }
       
    
    </script>
</body>

